.header__links {
    display: flex;
    gap: 18px;
    list-style-type: none;
    margin: 0;
    padding-bottom: 6px;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .header__links {
        padding-bottom: 8px;
    }
}